.home-container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.home-input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 40px;
}

.home-input-container input {
  flex: 1;
  padding: 7px 10px;
  font-size: 16px;
  margin-right: 15px;
  box-sizing: border-box;
  height: 100%;
}

.home-input-container button {
  width: 50px;
  font-size: 25px;
  font-weight: bold;
  background-color: #4c68a9;
  color: #fffdf7;
  border-color: #4c68a9;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding: 0;
}

.home-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.home-button-save,
.home-button-delete {
  font-size: 14px;
  font-weight: bold;
  background-color: #eeeeee;
  color: #1c3879;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  padding: 3px 10px;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px 0;
}

.todo-item input[type='checkbox'] {
  margin-right: 5px;
  margin-left: 7px;
}

.todo-edit-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.todo-edit-input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.strikethrough {
  text-decoration: line-through;
}

.todo-item .icon-group {
  display: flex;
  gap: 15px;
}

.edit-icon,
.delete-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.edit-icon:hover,
.delete-icon:hover {
  opacity: 0.7;
}
