.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 25px 0;
  padding: 0 15px;
  font-weight: bold;
  width: 100%;
  max-width: 1024px;
}

.nav-logout {
  cursor: pointer;
}
