.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.todo-edit-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.todo-edit-input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.strikethrough {
  text-decoration: line-through;
}

.icon-group {
  display: flex;
  gap: 17px; /* 아이콘 간격 설정 */
  padding-right: 10px;
}

.edit-icon,
.delete-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.edit-icon:hover,
.delete-icon:hover {
  opacity: 0.7;
}

.todo-item .icon-group {
  display: flex;
  gap: 15px;
}
